# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/

# OS
.DS_Store
Thumbs.db